---
---
<div class="matha">
    <header>
        <h1>Welcome to the Downside </h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
    </nav>
</div>
<style>
    .matha {
        display: flex;
        
        background-color: #4D4D4D;
    }
    h1 {
        justify-content: center;
        font-size: xxx-larger;
    }
    nav {
        justify-content: end;
        align-content: center;
    }
</style>